page-select-food-to-order {
   .product-list{
       padding: 16px 0;
       .p-container{
           padding-bottom: 32px;
       }
   }
   .btn-save-container{
       text-align: right;
       .button{
        background: white;
      }
   }
}
