page-order {
  .select-title-box-shadow {
    box-shadow: 0 3px 6px rgba($color: #2E2F2F, $alpha: .16);
    padding: 6px;
    border-radius: 5px;

    .icon-margin {
      margin-left: 4px;
      margin-top: 3px;
      color: map-get($map: $appColors, $key: gray);
    }
  }
  .order-list{
    padding: 16px 0;
    .order-container-component{
      margin-bottom: 16px;
    }
  }
  .empty-order{
    color: map-get($map: $appColors, $key: gray);
    font-size: 1.3rem;  
    padding-top: 30vh;  
  }
}
