page-chef-serve {


  .bg-segment {
    background: #E2EBE5;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-top: 16px;
    transition: 300ms;

    .col {
      padding: 12px 0;
      text-align: center;
      border-radius: 5px;
    }

    .selected {
      background: map-get($map: $appColors, $key: primary);
      color: white;
      font-weight: bold;
    }
  }

  .stt {
    min-width: 32px;
  }

  .circle-red-color {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    .button {
      max-height: 30px;
      font-size: 1.3rem;
    }
  }

  .product-container {
    background: white;
    border-radius: 5px;
    margin-top: 16px;
    padding-left: 10px;
    box-shadow: 0 2px 4px rgba($color: #BAC1D5, $alpha: .16);
    border: 1px solid map-get($map: $appColors, $key: second);
  }

  .text-container {
    padding: 10px 0;

    .product-name {
      font-weight: bold;
      font-size: 1.3rem;
    }

    .sub-title {
      font-size: 1.1rem;
      color: map-get($map: $appColors, $key: gray);
      margin-top: 6px;
    }
  }
}
